build/
**/*.o
design/modelio_project/**/.runtime
design/modelio_project/**/.settings
.dirstamp
.deps/
aclocal.m4
stamp-h1
test-driver
missing
configure
config.status
config.log
depcomp
compile
ar-lib
autom4te.cache/
install-sh
Makefile.in